<div class="comments_area_1">

<h1>Reset Password</h1>

<%= form_tag praetorian.password_resets_path, :method => :post do %>

    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  <div class="actions"><%= submit_tag "Reset Password" %></div>
  </div>
<% end %>
