<div class="footer">
  <p>Powered by <%= link_to "Praetorian", "https://github.com/anthonybarone/praetorian" %>, an open source project created by <%= link_to "Anthony Barry Barone", "http://www.linkedin.com/in/anthonybarrybarone/" %> and many important contributors.
</div>