<div class="footer">
  <p>Powered by Praetorian, an open source project created by <%= link_to "Anthony Barone", "http://www.linkedin.com/in/anthonybarrybarone/" %> in Rochester, NY and many other contributors.
</div>