<!DOCTYPE html>
<html>
<head>
  <title>Praetorian</title>
  <%= stylesheet_link_tag    "praetorian/application", media: "all" %>
  <%= javascript_include_tag "praetorian/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
